NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NEWS_RANGE_DAYS=3
CURRENT_WINDOW_HOURS=24
BASELINE_YEARS=3
MAX_ARTICLES_PER_CATEGORY=140
MAX_BASELINE_ARTICLES_PER_CATEGORY=140
MAX_ARTICLES_PER_QUERY=15
MAX_LIST_PAGES_PER_DAY=10
COLLECTION_MODE=section
